.textarea-ip textarea,
.textarea-op textarea{
    height: 300px;
    width: 100%;
    resize: none;
    border-radius: 15px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    outline: none;
    overflow-y: scroll;
    margin: 20px 0px;
}

.sidenav a p:hover, #speech{
    background-color: #D5FFE4;
    box-shadow: 2px 2px 10px grey;
}

.textarea-ip,
.textarea-op{
    width: 100%;
    height: 350px;
    margin-top: 20px;
    border-radius: 15px;
}
